*{
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body{
    background-color: rgb(173, 141, 248);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}